# Microservices
## Paddle - sandbox vs. production
APP_PADDLE_ENVIRONMENT='sandbox'        
APP_PADDLE_CLIENT_KEY=

## Google
APP_GOOGLE_API_KEY=

# APP
APP_NAME=Template
APP_SESSION_NAME=USER_SESSION
APP_VUE_ROUTER_MODE=#'history'
APP_SSR_MODE=false #Not implemented yet

## Access Tokens - according to backend
APP_ACCESS_ADMIN='access-admin'
APP_ACCESS_COCKPIT='access-cockpit'

## URLs
APP_BASE_URL="http://localhost:9000/#"
APP_API_URL="http://localhost:8000/api"
APP_SERVER_URL="http://localhost:8000"

## Redirects
APP_EMAIL_CONTACT="hello@template.io"
APP_EMAIL_LEGAL="hello@template.io"
APP_REDIRECT_COMPANY="www.template.ch"
APP_REDIRECT_YOUTUBE="www.template.ch"
APP_REDIRECT_LINKEDIN="www.template.ch"


